.table-data {
    color: #fff;
    font-family: 'Roboto';
    width: 360px;
    height: 40px;
    line-height: 40px;
}

.delete-icon {
    color: #870000;
    cursor: pointer;
}

@media screen and (max-width: 576px) {  
    .table-row  {
        min-height: 40px;
        border: 1px solid #606c88;
    }    
    
    .table-data {
        font-size: 10px;
        width: 100px;
        padding-left: 12px;
    }
    
    .delete-icon {
        font-size: 14px;
    }
}

@media screen and (min-width: 577px) { 
    .table-row  {
        min-height: 40px;
        border: 1px solid #606c88;
    }  

    .table-data {
        font-size: 16px;
        width: 300px;
        padding-left: 14px;
    }
    
    .delete-icon {
        font-size: 20px;
    }
}