.card-usage-details-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-top: 14px;
}

.label-name {
    color: #70e1f5;
    font-family: 'Roboto';
    font-weight: 600;
}

.user-input {
    width: 300px;
    padding: 0 8px;
    border-radius: 4px;
    border-style: none;
    outline: none;
}

.usage-details-add-btn {
    background-color: #11ffbd;
    color: #fff;
    font-family: 'Roboto';
    font-weight: 600;
    width: 80px;
    height: 30px;
    margin: 12px 0;
    border-radius: 6px;
    border-style: none;
    cursor: pointer;
}

.card-usage-table-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}

.empty-list-text {
    text-align: center;
    color: #5fdcf0;
    font-family: 'Roboto';
    font-weight: 600;
    margin-top: 70px;
}

@media screen and (max-width: 576px) {
    .form-card-usage-details-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .label-name {
        font-size: 14px;
        margin-bottom: 4px;
    }

    .user-input {
        font-size: 14px;
        height: 24px;
    }

    .usage-details-add-btn {
        font-size: 16px;
        margin-top: 16px;
    }

    .card-usage-table {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .table-row-heading {
        background-color: #606c88;
        border-radius: 8px 8px 0 0;
    } 
 
    .table-heading {
        text-align: left;
        font-family: 'Roboto';
        font-size: 12px;
        width: 100px;
        height: 40px;
        line-height: 40px;
        padding-left: 12px;
    }
    
    .empty-list-text {
        font-size: 16px;
    }
}

@media screen and (min-width: 577px) {    
    .form-card-usage-details-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .input-container {
        padding: 10px 0;
    }

    .label-name {
        font-size: 16px;
        margin-bottom: 8px;
    }

    .user-input {
        font-size: 16px;
        height: 30px;
    }

    .usage-details-add-btn {
        align-self: flex-end;
        font-size: 18px;
    }

    .card-usage-table {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }  
    
    .table-row-heading {
        background-color: #606c88;
        border-radius: 8px 8px 0 0;
    } 

    .table-heading {
        text-align: left;
        font-family: 'Roboto';
        font-size: 16px;
        width: 300px;
        height: 40px;
        line-height: 40px;
        padding-left: 14px;
    }
    
    .empty-list-text {
        font-size: 24px;
    }
}