.login-container {
    background-image: linear-gradient(to right, #D8B5FF, #1EAE98);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px 50px 5px #000;
}

.login-heading {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 8%;
}

.login-input-container {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.login-label {
    color: #1D2671;
    font-family: "Times New Roman", Times, serif;
    font-weight: 600;
    margin-bottom: 4px;
}

.login-user-input {
    color: #000;
    font-family: 'Roboto';
    width: 100%;
    margin-bottom: 10px;
    padding-left: 8px;
    border-radius: 6px;
    border-style: none;
    outline: none;
}

.login-button {
    background-color: #FFC371;
    color: #09203F;
    font-family: "Roboto";
    font-weight: 600;
    border-radius: 6px;
    border-style: none;
    cursor: pointer;
}

.register-text {
    text-align: center;
    color: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.register-link {
    text-decoration: none;
}

@media screen and (max-width: 576px) {
    .login-container {
        max-width: 300px;
        min-height: 300px;
        padding: 20px;   
    }

    .login-heading {
        font-size: 26px;
    }

    .login-input-container {
        margin-bottom: 4px;
    }

    .login-label {
        font-size: 14px;
    }

    .login-user-input {
        font-size: 14px;
        height: 28px;
    }

    .login-button {
        font-size: 16px;
        width: 90px;
        height: 30px;
        margin: 10px;
    }

    .register-text {
        font-size: 14px;
    }
}

@media screen and (min-width: 577px) {
    .login-container {
        width: 400px;
        min-height: 400px;
        padding: 40px;
    }

    .login-heading {
        font-size: 30px;
    }

    .login-input-container {
        margin-bottom: 8px;
    }

    .login-label {
        font-size: 16px;
    }

    .login-user-input {
        font-size: 16px;
        height: 30px;
    }

    .login-button {
        font-size: 18px;
        width: 100px;
        height: 34px;
        margin: 12px;
    }

    .register-text {
        font-size: 16px;
    }
}

