* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  background-image: radial-gradient(#FF5F6D, #FFC371);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
